* {
    margin: 0;
    padding: 0;
    
    outline: 1px solid red;
}

.main-container {
    display: grid;
    grid:   "sidebar header" 1fr
            "sidebar main" 5fr
            /1fr 4fr
}

.header {
    grid-area: header;
    display: grid;
    grid:   "search controls" 1fr
            "info controls" 1fr
            /2fr 1fr
}

.search-bar {
    grid-area: search;
}

.user-menu {
    grid-area: controls;
}

.user-info {
    grid-area: info;
}

.sidebar {
    grid-area: sidebar;
    display: grid;
}

.main {
    grid-area: main;
    display: grid;
}