:root {
    --light-blue: rgb(25,146,212);
    --sahdow-grey: rgb(203, 199, 199);
    --orange: rgb(240,180,41);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    
    /* outline: 1px solid red; */
}



.main-container {
    display: grid;
    grid:   "sidebar header" 1fr
            "sidebar main" 5fr
            /minmax(150px, 1fr) 4fr;
}

.header {
    grid-area: header;
    display: grid;
    grid:   "search account" 1fr
            "info controls" 1fr
            /2fr minmax(100px, 300px);
    padding: 15px 30px; 
    gap: 15px;
    box-shadow: 0px 2px 5px var(--sahdow-grey);
    z-index: 1;
}

.search-bar {
    grid-area: search;
    display: grid;
    grid-template-columns: min-content auto;
    gap: 15px;
    align-items: center;
}

.user-account{
    grid-area: account;
    display: grid;
    grid-template-columns: repeat(2, 1fr) 2fr;
    justify-items: center;
    align-items: center;
}

.user-menu {
    grid-area: controls;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);

}

.user-info {
    grid-area: info;
    display: grid;
    grid-template-columns: min-content auto;
    gap: 15px;
    font-weight: bold;
    align-items: center;
}

.info-text-small {
    font-size: 0.7em;
}

.icon {
    max-height: 2rem;
    border-radius: 50%;
}

.user-info-icon {
    max-height: 3rem;
}

.user-name {
    color: black;
    font-weight: bold;
}

.search {
    border-radius: 10px;
    border: none;
    width: clamp(10vw, 100%, 600px);
    height: 1.8em;
    background-color: rgb(226,232,240);
}

.user-button {
    border-radius: 20px;
    border: none;
    background-color: var(--light-blue);
    color: white;
    padding: 0.7em 1.5em;
}

.bell {
    justify-self: end;
}

.user-name {
    justify-self: start;
}

.sidebar {
    grid-area: sidebar;
    background-color: var(--light-blue);
    color: white;
    padding: 15px;
    z-index: 2;
}

.sidebar ul {
    display: grid;
    grid-template: 3fr repeat(10, 1fr)
                    / 1fr 6fr;
}

.empty {
    grid-column: span 2;
}

.sidebar ul li:not(.nav) {
    justify-self: center;
    align-self: center;
}

.icons {
    grid-area: icons;
    height: 1.1em;
    filter: invert(1); /* inverts black svg into white */
    vertical-align: middle;
}

.icon-dash {
    grid-area: icon-dash;
    height: 2em;
}

.dash {
    align-content: center;
}

.dash-text {
    font-size: 1.3em;

}

.sidebar ul {
    display: grid;
    gap: 15px;
}

.main {
    grid-area: main;
    display: grid;
    grid: "projects announcements" 1fr
            "projects trending" 1fr
            / 2fr 1fr;
    background-color: rgb(226,232,240);
    padding: 15px;
    gap: 20px;
}

.projects-section {
    grid-area: projects;
}

h2 {
    font-size: 1.2em;
    margin: 5px 0;
}

.projects {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.project-card,
.announcements div,
.trending div {
    display: grid;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 2px 2px 2px var(--sahdow-grey);
}

div.project-card {
    border-left: 5px solid var(--orange);
    grid-template-rows: auto auto 1fr;
}

.project-card p {
    font-size: 0.85em;

}

.project-card img {
    height: 1em;
}

.card-img {
    box-shadow: none;
    place-self: end;
}

.announcements{
    grid-area: announcements;
}

div.announcement {
    font-size: 0.8em;
    box-shadow: none;
}

.announcement p::after {
    content: "..."; 
}

.announcements > div > div:nth-child(even) {
    border-radius: 0;
    border-top: 1px solid var(--sahdow-grey);
    border-bottom: 1px solid var(--sahdow-grey);
}

.trending{
    grid-area: trending;
}