:root {
    --light-blue: rgb(25,146,212);
    --sahdow-grey: rgb(172, 172, 172);

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    
    /* outline: 1px solid red; */
}



.main-container {
    display: grid;
    grid:   "sidebar header" 1fr
            "sidebar main" 5fr
            /minmax(150px, 1fr) 5fr;
}

.main-container > *{
    /* outline: 1px solid red; */
}

.header {
    grid-area: header;
    display: grid;
    grid:   "search account" 1fr
            "info controls" 1fr
            /2fr minmax(100px, 300px);
    padding: 15px 30px; 
    gap: 15px;
    box-shadow: 0px 2px 5px var(--sahdow-grey);
}

.search-bar {
    grid-area: search;
    display: grid;
    grid-template-columns: min-content auto;
    gap: 15px;
    align-items: center;
}

.user-account{
    grid-area: account;
    display: grid;
    grid-template-columns: repeat(2, 1fr) 2fr;
    justify-items: center;
    align-items: center;
}

.user-menu {
    grid-area: controls;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);

}

.user-info {
    grid-area: info;
    display: grid;
    grid-template-columns: min-content auto;
    gap: 15px;
    font-weight: bold;
    align-items: center;
}

.info-text-small {
    font-size: 0.7em;
}

.icon {
    max-height: 2rem;
    border-radius: 50%;
}

.user-info-icon {
    max-height: 3rem;
}

label {
    max-width: fit-content;
}

.magnifier {
    display: flex;
    height: 1.1em;
    vertical-align: middle;
}

.user-name {
    color: black;
    font-weight: bold;
}

.search {
    border-radius: 10px;
    border: none;
    width: clamp(10vw, 100%, 600px);
    height: 1.8em;
    background-color: rgb(226,232,240);
}

.user-button {
    border-radius: 20px;
    border: none;
    background-color: var(--light-blue);
    color: white;
    padding: 0.7em 1.5em;
}

.bell {
    justify-self: end;
}

.user-name {
    justify-self: start;
}

.sidebar {
    grid-area: sidebar;
    background-color: var(--light-blue);
    color: white;
    padding: 15px;
}

.sidebar ul {
    display: grid;
    grid-template-columns: 1fr 6fr;
}
.icons {
    grid-area: icons;
    height: 1em;
    filter: invert(1); /*inverts black svg into white*/
}

.icon-dash {
    grid-area: icon-dash;
    height: 1em;
}

.sidebar ul {
    display: grid;
    gap: 15px;
}

.main {
    grid-area: main;
    display: grid;
}